[build]
target = "index.html"
dist = "dist"
release = false

[watch]
ignore = ["dist"]

[serve]
address = "127.0.0.1"
port = 3000
open = false

[[hooks]]
stage = "build"
command = "echo"
command_arguments = ["Building Royal Pizza Frontend..."]
